@model LiveStock.Core.Domain.Models.DevTest
@{
    ViewBag.Title = "Delete DevTest";
}
<div class="row">
    <div class="col-md-9">
        <div class="row">

            <fieldset>
                <legend>
                    Are you sure you want to delete this DevTest?
                    <sup class="badge" style="font-size:x-small"
                         ng-show="dataChanged">{{dataChanged}}</sup>
                </legend>

                <div class="form-group alert-danger"
                     ng-show="errorMessage">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-10">
                        <ul>
                            <li class="text-danger"
                                ng-show="errorMessage">{{errorMessage}}</li>
                        </ul>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3 control-label">
                        @Html.DisplayNameFor(model => model.CampaignName)
                    </div>
                    <div class="col-md-9">
                        {{devTest.campaignName}}
                        &nbsp;
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3 control-label">
                        @Html.DisplayNameFor(model => model.Date)
                    </div>
                    <div class="col-md-9">
                        {{devTest.date | date : config.dateFormat}}
                        &nbsp;
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3 control-label">
                        @Html.DisplayNameFor(model => model.Clicks)
                    </div>
                    <div class="col-md-9">
                        {{devTest.clicks | number : 0}}
                        &nbsp;
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3 control-label">
                        @Html.DisplayNameFor(model => model.Conversions)
                    </div>
                    <div class="col-md-9">
                        {{devTest.conversions | number : 0}}
                        &nbsp;
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3 control-label">
                        @Html.DisplayNameFor(model => model.Impressions)
                    </div>
                    <div class="col-md-9">
                        {{devTest.impressions | number : 0}}
                        &nbsp;
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3 control-label">
                        @Html.DisplayNameFor(model => model.AffiliateName)
                    </div>
                    <div class="col-md-9">
                        {{devTest.affiliateName}}
                        &nbsp;
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3 control-label">
                        @Html.DisplayNameFor(model => model.Arrange)
                    </div>
                    <div class="col-md-9">
                        {{devTest.arrange | number : 0}}
                        &nbsp;
                    </div>
                </div>
            </fieldset>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="button" value="Delete" class="btn btn-danger"
                                title="Delete {{devTest.campaignName}}" message="Do you want to remove this item? {{messageConfirm}}"
                                modal-id="{{devTest.Id}}" on-approve="removeDevTest(devTest);"
                                on-deny="closeConfirm();" ang-confirm-modal>
                            Delete
                        </button>
                        <a class="btn btn-default" href="#/devTest/list"
                           ui-sref="devTest.list">Cancel</a>
                    </div>
                </div>
            }
        </div>

    </div>
    <div class="col-md-3">
        
    </div>

</div>
